<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathématiques appliquées (UE2)</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>Mathématiques Appliquées (UE2)</h1>
    <% try { %>
        <% if (user) { %>
            <p><%= user.name %> (<%= user.email %>)
                <a href="/logout" style="color: white; margin-left: 5%">Déconnexion</a>
            </p>
        <% } else { %>
            <p>Please Login</p>
        <% } %>
    <% } catch (e) { %>
        <% console.log(e) %>
        <p>Please Login</p>
    <% } %>
</header>
<main>
    <section>
        <h2>Description de l'UE</h2>
        <p>
            Cette unité d'enseignement porte sur les concepts fondamentaux des mathématiques appliquées.
            Les étudiants exploreront des techniques avancées de modélisation mathématique et les outils nécessaires pour résoudre des problèmes pratiques dans divers domaines, tels que la physique, l'économie et l'ingénierie.
        </p>
    </section>
    <section>
        <h2>Liste des étudiants et notes</h2>
        <div style="margin-top: 20px;">
            <table border="1" style="width: 100%; border-collapse: collapse; text-align: center;">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Note</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% for (const [name, note] of Object.entries(notes)) { %>
                    <tr>
                        <td><%= name %></td>
                        <td><%= note %></td>
                        <% if (validate[name]) { %>
                            <td>Validé</td>
                            <td></td>
                        <% }else{ %>
                            <td>
                                <form action="/ue2/update" method="GET">
                                    <input type="hidden" name="ue" value="ue2">
                                    <input type="hidden" name="student" value="<%= name %>">
                                    <button style="padding: 10px 20px; cursor:pointer; margin-bottom: 10px; margin-top: 10px">Modifier</button>
                                </form>
                            </td>
                            <td>
                                <form action="/ue2/validate" method="GET">
                                    <input type="hidden" name="ue" value="ue2">
                                    <input type="hidden" name="student" value="<%= name %>">
                                    <button style="padding: 10px 20px; cursor:pointer; margin-bottom: 10px; margin-top: 10px">Valider</button>
                                </form>
                            </td>
                        <% } %>

                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </section>
    <a href="/" style="display: block; margin-top: 20px;">← Retour à l'accueil</a>
</main>
<footer>
    <p>© 2024 - Catalogue des UE - Tous droits réservés.</p>
</footer>
</body>
</html>
